
img {
    width: 30px;
    display: inline-block;
    

}
.menu1 {
    background-color: black;
    text-align: left;
    border: 1px solid black;
    padding: 1px;
    text-align: left;

 }
 .menu1 li{
     color:  white;
    list-style: none ;
    padding: 5px;
    font: bold 14px verdana white;
    display: inline-block;
   margin: left;

}

header {
background-color: blueviolet;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
border: black solid 1px;
padding: 20px;


}

body{
    text-align: center;
    background: #fffbb5;

}
.agrupar { width: 960px;
    border : 1px solid black;
    margin: 15px auto;
    background: white;



}

.menu {
    background: rosybrown;
    text-align: left;
    border: 1px solid black;

 }
 .menu li{
    list-style: none ;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
   margin: left;
   
    
}
header,nav, section, footer, aside ,article, hgroup
{
       display: block;
    

}
.agrupar {
    width: 960px;
   border : 1px solid black;
   margin: 15px auto;
   background: white;
} 

 footer{
background-color: violet;
text-align: center;
 }

 article {
    background : #fffbcc;
    border:1px solid #999999;
    padding: 20px;
    margin-bottom: 15px;


}

article footer{
text-align: center;
margin-top: 20px;

}
time {
color: #999999;
